
.load {
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(-50%, -50%);
    width: 150px;
    height: 150px;
    border: 3px solid #eeeeee;
    border-radius: 50%;
    text-align: center;
    line-height: 150px;
    font-family: sans-serif;
    font-size: 20px;
}

.load:before {
    content: '';
    position: absolute;
    top: -3px;
    left: -3px;
    width: 150px;
    height: 150px;
    border: 3px solid transparent;
    border-top: 3px solid #2979ff;
    border-right: 3px solid #2979ff;
    border-radius: 50%;
    animation: animateC 1.3s linear infinite;
}

.load span {
    display: block;
    position: absolute;
    top: calc(50% - 2px);
    left: 50%;
    width: 50%;
    height: 4px;
    /* background:#bdbdbd; */
    transform-origin: left;
    animation: animate 1.3s linear infinite;
}

.load span:before {
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #2979ff;
    top: 2px;
    right: -8px;
    box-shadow: 0 0 20px #2979ff;
}

@keyframes animateC {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes animate {
    0% {
        transform: rotate(45deg);
    }

    100% {
        transform: rotate(405deg);
    }
}